-i https://pypi.org/simple
bencode.py==2.0.0
click==6.7
flask==1.0.2
git+https://github.com/5yncr/backend@master#egg=5yncr-backend
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
pytz==2018.4
werkzeug==0.14.1
