{% extends "layout.html" %}

{% block drop_list %}
<div >
    <h1 class=drop-type>Owned Drops</h1>
    <ul class=drops>
        {% for drop in owned %}
            <li><h2 class=drop-name>{{ drop.name|safe }}</h2>
        {% else %}
            <li><em>None</em>
        {% endfor %}
    </ul>

    <h1 class=drop-type>Subscribed Drops</h1>
    <ul class=drops>
        {% for drop in subscribed %}
            <li><a href="{{ url_for('show_drops', drop_id=drop.name) }}"><h2 class=drop-name>{{ drop.name|safe }}</h2></a>
        {% else %}
            <li><em>None</em>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block body %}
{% if selected %}
    Drop Selected
{% else %}
    Hello World
{% endif %}


{% endblock %}
